body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: grey;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 350;
  color: white;
}

header {
  height: 85vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../assets/cougs.jpg);
}

.contact {
  position: absolute;
  right: 15px;
}

.icon {
  margin-right: 3px;
  margin-left: 3px;
  color: black;
}

#title {
  top: 100px;
}

.mySection {
  background-color: white;
  margin-top: 10px;
  height: auto;
  margin-bottom: 15px;
}

.myHr {
  color: crimson;
  height: 5px;
  border-top: 3px double crimson;
  border-radius: 7px 7px 7px 7px;
  height: 2px;
}


.subsection {
  background-color: white;
  margin-top: 10px;
  height: 300px;
  margin-bottom: 15px;
}

ul.no-bullets {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
  margin-left: 15px;
}

.contactIcon {
  margin-right: 5px;
  margin-bottom: 5px;
}

.projectCard {
  margin: 20px;
  border-color: grey;
}

.projects {
  align-content: center;
}

.projecTitle {

}