body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #DAE3E7;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 350;
  color: white;
}

header {
  height: 85vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url(../assets/cougs.jpg);
}

.contact {
  position: absolute;
  right: 15px;
}

.icon {
  margin-right: 3px;
  margin-left: 3px;
  color: black;
}

#title {
  top: 100px;
}